#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License, v2 or later

depend() {
	need net
	use dns
}

start() {
	ebegin "Starting Darwin Streaming Server"
	start-stop-daemon --quiet --start --exec /usr/sbin/DarwinStreamingServer 
	eend $?
}

stop() {
	ebegin "Stopping Darwin Streaming Server"
	killall -s KILL DarwinStreamingServer
	rm -f /var/run/DarwinStreamingServer.pid
	eend $?
}

status() {
	kill -0 `ps -Aww -o pid,cmd | grep --color=never "^[^r].*[D]arwinStreamingServer" | awk '{ print $1 }'` > /dev/null 2>&1
	eend $?
}
