#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License, v2 or later

depend() {
	need net dss
	use dns
	after dss
}

start() {
	ebegin "Starting Darwin Streaming Server Admin"
	start-stop-daemon --quiet --start --exec /usr/bin/streamingadminserver.pl
	eend $?
}

stop() {
	ebegin "Stopping Darwin Streaming Server Admin"
	start-stop-daemon --quiet --stop --pidfile /var/run/streamingadminserver.pid
	eend $?
}
